<?xml version="1.0"?>

<model>
    <name>Vacuum Gripper para caja CCOSS</name>
    <version>1.0</version>
    <sdf version='1.5'>vacuum_gripper.sdf</sdf>

    <author>
        <name>Alexis Guijarro</name>
        <email>totonzx@gmail.com</email>
    </author>

    <description>
        Vaccum Gripper para Caja usada como carga util del taller de CCOSS
    </description>
</model>
