<?xml version="1.0"?>
<launch>
    <include file="$(find ccoss_2022)/launch/mavros_posix_sitl_solo.launch"/>
    <include file="$(find ccoss_2022)/launch/carga_util.launch">
        <arg name="x" value="0.50"/>
        <arg name="y" value="0.50"/>
    </include>
    <node name="test_offboard" pkg="ccoss_2022" type="test_offboard.py" output="screen"/>
</launch>
