<?xml version="1.0"?>

<model>
    <name>Caja CCOSS</name>
    <version>1.0</version>
    <sdf version='1.5'>caja.sdf</sdf>

    <author>
        <name>Alexis Guijarro</name>
        <email>totonzx@gmail.com</email>
    </author>

    <description>
        Caja usada como carga util para el taller de CCOSS
    </description>
</model>
